.slide {
  scroll-snap-align: start;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  &__product-description {
    background-color: blue;
    text-align: center;
  }
}
.slide-container {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.bloque-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-detail {
  position: fixed;
  top: 50%;
}

.footer-nav {
  position: fixed;
  bottom: 0px;
}

// MediaQueries
// @media all and (min-width: 768px) {}
// @media all and (min-width: 1024px){}
