.header {
  width: 100vw;
  font-family: Helvetica, sans-serif;
  position: relative;
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 0px 30px;
    &--mater {
      color: #000000;
      text-decoration: none;
    }

    &--burguer-btn {
      height: 30px;
      width: 30px;
      border-color: #888787;
      border-style: solid;
      border-width: 0.5px;
      background-color: #ffffff;
    }
  }
  &__title {
    font-size: small;
  }
}

// Mediaqueries

// @media all and (min-width: 768px) {
// }

.menu_on {
  // height: 1px;
  // width: 20px;
  // background-color: black;
  // display: inline-block;
  // position: relative;
}
.div1,
.div2 {
  height: 1px;
  width: 20px;
  background-color: black;
  display: inline-block;
  position: relative;
  text-align: center;
}
.div2 {
  margin-bottom: 10px;
}
.div:nth-child(1) {
}
.burguer:nth-child(2) {
}
