.header {
  position: fixed;
  color: #ffffff;
  &__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    font-size: small;
  }
  &__btn {
    background-color: #ffffff;
    border-style: none;
    position: relative;
    left: 100%;
  }
  &__btn:hover {
    color: red;
  }
}
