.header {
  position: fixed;
  color: #ffffff;
  &__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    font-size: small;
  }
  &__btn {
    background-color: #ffffff;
    border-style: none;
    position: relative;
    left: 100%;
  }
  // &__btn:hover {
  //   color: red;
  //   transform-origin: left center;
  //   transform: rotate(45deg);
  // }
}

.burguer {
}
.burguer:nth-child(1) {
  top: 0px;
  transform-origin: left center;
  transform: rotate(45deg);
}
.burguer:nth-child(2) {
  top: 18px;
  transform-origin: left center;
  transform: rotate(90deg);
}
