.menu-container {
  background-color: #000000;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__list {
    list-style: none;
    font-size: 22px;
    padding: 0px 0px 0px 30px;
    display: grid;
    grid-gap: 20px;
    justify-content: space-between;
  }
}
.js-collapsed {
  display: none;
}
.menuList {
  transition: all 0.3s ease;
}
.menuList:hover {
  transform: scale(0.9);
}
