.menu-container {
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__list {
    list-style: none;
  }
}
.js-collapsed {
  background-color: red;
}
