// Footer Slide01
.footer-nav {
  width: 100vw;
  height: 7%;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  &__container0:hover {
    width: 20%;
    transition: 300ms ease-in-out;
    border: 0.5px solid #888787;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 10px;
  }
  &__container1:hover {
    width: 20%;
    transition: 300ms ease-in-out;
    border: 0.5px solid #888787;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 10px;
  }
}
.footer-nav0,
.footer-nav1 {
  font-size: 14px;
  text-decoration: none;
  color: #888787;
}

@media all and (min-width: 768px) {
  .footer-nav {
    text-align: left;
  }
}
