.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 50px 10px 10px 10px;
  &__products {
    justify-content: space-between;
    align-items: center;
  }
  &__data {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;

    &--img {
      height: 200px;
    }
  }
}

.bloque-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-detail {
  border: 0px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  position: fixed;
  top: 50%;
  margin-left: 10px;
}

.footer-nav {
  position: fixed;
  bottom: 0px;
}

// scroll

.slide {
  scroll-snap-align: start;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  &__product-description {
    background-color: blue;
    text-align: center;
  }
}
.slide-container {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
// MediaQueries
@media all and (min-width: 768px) {
  .container__data--img {
    margin-left: 200px;
    height: 300px;
  }
}
// @media all and (min-width: 1024px){}
