.container {
  width: 100vw;
  padding: 0px 30px 10px 30px;
  &__products {
    justify-content: space-between;
    align-items: center;
  }
  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--text-author {
      color: #888787;
      font-size: 10px;
    }
    &--text-name {
      margin-top: 10px;
      font-size: 18px;
    }
    &--text-paragraph {
      margin-top: 40px;
      color: #888787;
      font-size: 14px;
    }
    &--imgProduct {
      align-self: flex-end;
    }
    &--img {
      height: 200px;
    }
  }
}

// Inital transparence
.container-general {
  -webkit-animation-name: visible;
  animation-name: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// MediaQueries
@media all and (min-width: 768px) {
  // márgenes en Mediaqueries
  .container {
    flex-direction: column;
    padding: 0px 75px 10px 75px;
    justify-content: center;
    &__data {
      flex-direction: row;
      &--imgProduct {
        align-self: baseline;
      }
      &--img {
        margin-left: 200px;
        margin-top: 0px;
        height: 300px;
      }
    }
  }
}
// @media all and (min-width: 1024px){}

@-webkit-keyframes visible {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
