.image {
  height: 200px;
  position: relative;
  transform: translateX(175%);
}

.subMenu {
  color: #888787;
  font-size: 12px;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0px 20px 0px;
  &__image {
    display: flex;
  }
  &__item:hover {
    color: white;
    opacity: 1;
  }
}
.hidden {
  display: none;
}
